Package: bigcontrolcenter-hardware-webcam
Version: 1.0.0-1kaiana2
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: v4l2ucp
Section: admin
Priority: optional
Description: Configure webcam
