Package: kaiana-skel
Version: 14.04-5kaiana7
Architecture: all
Maintainer: Kaiana <paulusiohannes@gmail.com>
Installed-Size: 3133
Priority: optional
Homepage: http://www.uniaolivre.com
Description: Kaiana Skel
 The configuration for the Kaiana System.
