Package: bigcontrolcenter-internet-ndiswrapper
Version: 1.0.3-1kaiana7
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: bigndiswrapper, bigcontrolcenter, kdebase-bin
Section: admin
Priority: optional
Description: Configure wireless ndiswrapper

