Package: mpv-hide
Version: 1.0.0-0kaiana1
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: mpv
Section: admin
Priority: optional
Description: Esconde o mpv do menu / Hide systemsettings

