Package: mpv-hide
Version: 1.0.4-0kaiana2
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: mpv
Section: admin
Priority: optional
Description: Esconde o mpv do menu / Hide systemsettings

