[Desktop Entry]
Comment=Tema ProduktBlue com pequenas modificações.
Name=Kaiana ProduktBlue
X-KDE-PluginInfo-Author=Bruno
X-KDE-PluginInfo-Version=1.0
