[Desktop Entry]
Type=Service
Version=2.7
Encoding=UTF-8
Icon=kgpg
Actions=OpenInKonsole;OpenInFilemanager;OpenWithCustom;_SEPARATOR_;Copy;Rename;Compress;Delete;_SEPARATOR_;ChangePerm;
ServiceTypes=KonqPopupMenu/Plugin,inode/directory,inode/directory-locked
X-KDE-Priority=TopLevel
X-KDE-Submenu=&Root Actions
X-KDE-Submenu[ca]=Accions de &root
X-KDE-Submenu[cs]=Root akce
X-KDE-Submenu[de]=Administ&rator-Aktionen
X-KDE-Submenu[el]=Ενέργειες Υπερχρήστη
X-KDE-Submenu[es]=Opciones de root
X-KDE-Submenu[fi]=P&ääkäyttäjän toiminnot
X-KDE-Submenu[fr]=Actions d'&administration
X-KDE-Submenu[gl]=Accións coma root
X-KDE-Submenu[hu]=Rendszergazdai műveletek
X-KDE-Submenu[it]=Azioni come Root
X-KDE-Submenu[lt]=&Root veiksmai
X-KDE-Submenu[nb]=Handlinger som &root
X-KDE-Submenu[nl]=&Root Acties
X-KDE-Submenu[nn]=Handlingar som &root
X-KDE-Submenu[pl]=Działania administratora
X-KDE-Submenu[pt]=Ac&ções Administrativas
X-KDE-Submenu[pt_BR]=A&ções Administrativas
X-KDE-Submenu[pt_PT]=Ac&ções Administrativas
X-KDE-Submenu[ru]=Действия root
X-KDE-Submenu[sr]=Корене &акције
X-KDE-Submenu[sr@latin]=Korene &akcije
X-KDE-Submenu[tr]=&Yetkili Eylemleri
#X-KDE-Submenu[xx]=Your string 'xx' is the country abbreviation

[Desktop Action OpenInKonsole]
Exec=rootactions-servicemenu.pl root_konsole_here konsole %U
Icon=utilities-terminal
Name=Open Terminal Here
Name[ca]=Obre terminal aquí
Name[cs]=Otevřít zde terminál
Name[de]=In Konsole öffnen
Name[el]=Άνοιγμα Κονσόλας Εδώ
Name[es]=Abrir terminal aqui
Name[fi]=Avaa pääte tähän
Name[fr]=Ouvrir un terminal ici
Name[gl]=Abrir unha consola aquí
Name[hu]=Konzol indítása itt
Name[it]=Apri qui la Konsole
Name[lt]=Atverti čia terminalą
Name[nb]=Åpne terminal her
Name[nl]=Openen in Konsole
Name[nn]=Opne terminal her
Name[pl]=Otwórz terminal tutaj
Name[pt]=Abrir o terminal aqui
Name[pt_BR]=Abrir terminal aqui
Name[pt_PT]=Abrir o terminal aqui
Name[ru]=Открыть терминал здесь
Name[sr]=Отвори терминал овде
Name[sr@latin]=Otvori terminal ovde
Name[tr]=Uçbirimi Burada Aç
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action OpenInFilemanager]
Exec=rootactions-servicemenu.pl open_with defaultfm %U
Icon=system-file-manager
Name=Open in File Manager
Name[ca]=Obre en el gestor de fitxers
Name[cs]=Otevřít v souborovém manažeru
Name[de]=Im Dateimanager öffnen
Name[el]=Άνοιγμα στον Διαχειριστή Αρχείων
Name[es]=Abrir en gestor de archivos
Name[fi]=Avaa tiedostomanagerilla
Name[fr]=Ouvrir dans le gestionnaire de fichiers
Name[gl]=Abrir co xestor de ficheiros
Name[hu]=Megynyitás fájlkezelővel
Name[it]=Apri in File Manager
Name[lt]=Atverti failų tvarkytuve
Name[nb]=Åpne i filbehandler
Name[nl]=Openen in Bestandsbeheerder
Name[nn]=Opne i filhandsamar
Name[pl]=Otwórz w menedżerze plików
Name[pt]=Abrir no Gestor de Ficheiros
Name[pt_BR]=Abrir no Gerenciador de Arquivos
Name[pt_PT]=Abrir no Gestor de Ficheiros
Name[ru]=Открыть в файловом менеджере
Name[sr]=Отвори у менаџеру фајлова
Name[sr@latin]=Otvori u menadžeru fajlova
Name[tr]=Dosya Yöneticisinde Aç
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action OpenWithCustom]
Exec=rootactions-servicemenu.pl custom_open_with %U
Icon=system-run
Name=Open with ...
Name[ca]=Obre amb...
Name[cs]=Otevřít v...
Name[de]=Öffnen mit...
Name[el]=Άνοιγμα με ...
Name[es]=Abrir con...
Name[fi]=Avaa ohjelmalla ...
Name[fr]=Ouvrir avec...
Name[gl]=Abrir con...
Name[hu]=Megnyitás ezzel...
Name[it]=Apri con...
Name[lt]=Atverti su ...
Name[nb]=Åpne med ...
Name[nl]=Openen met ...
Name[nn]=Opne med
Name[pl]=Otwórz z...
Name[pt]=Abrir com ...
Name[pt_BR]=Abrir com ...
Name[pt_PT]=Abrir com ...
Name[ru]=Открыть с помощью...
Name[sr]=Отвори помоћу...
Name[sr@latin]=Otvori pomoću...
Name[tr]=Birlikte Aç...
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action Copy]
Exec=rootactions-servicemenu.pl root_copy %U
Icon=edit-copy
Name=Copy
Name[ca]=Copia
Name[cs]=Kopírovat
Name[el]=Αντιγραφή
Name[fi]=Kopioi
Name[fr]=Copier
Name[gl]=Copiar
Name[hu]=Másolás
Name[it]=Copia
Name[lt]=Kopijuoti
Name[nb]=Kopier
Name[nl]=Kopiëren
Name[nn]=Kopier
Name[pl]=Kopiuj
Name[pt]=Copiar
Name[pt_PT]=Copiar
Name[pt_BR]=Copiar
Name[ru]=Копировать
Name[sr]=Копирај
Name[sr@latin]=Kopiraj
Name[tr]=Kopyala
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action Rename]
Exec=rootactions-servicemenu.pl root_rename krename %U
Icon=edit-rename
Name=Move/Rename
Name[ca]=Mou/Reanomena
Name[cs]=Přesunout/Přejmenovat
Name[de]=Umbenennen
Name[el]=Μετακίνηση/Μετονομασία
Name[es]=Renombrar
Name[fi]=Siirrä/Nimeä uudelleen
Name[fr]=Renommer
Name[gl]=Cambiar o nome
Name[hu]=Átnevezés
Name[it]=Rinomina
Name[lt]=Perkelti/pervadinti
Name[nb]=Endre navn
Name[nl]=Hernoemen
Name[nn]=Endra namn
Name[pl]=Zmień nazwę
Name[pt]=Mudar o nome
Name[pt_BR]=Renomear
Name[pt_PT]=Mudar o nome
Name[ru]=Переместить/переименовать
Name[sr]=Премести/преименуј
Name[sr@latin]=Premesti/preimenuj
Name[tr]=Taşı/Yeniden İsimlendir
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action Compress]
Exec=rootactions-servicemenu.pl root_compress %U
Icon=utilities-file-archiver
Name=Compress
Name[ca]=Compressió
Name[cs]=Zkomprimovat
Name[de]=Komprimieren
Name[el]=Συμπίεση
Name[es]=Comprimir
Name[fi]=Tiivistä
Name[fr]=Compresser
Name[gl]=Comprimir
Name[hu]=Tömörítés
Name[it]=Comprimi
Name[lt]=Suspausti
Name[nb]=Komprimer
Name[nl]=Comprimeren
Name[nn]=Komprimer
Name[pl]=Kompresuj
Name[pt]=Comprimir
Name[pt_BR]=Compactar
Name[pt_PT]=Comprimir
Name[ru]=Упаковать
Name[sr]=Компресуј
Name[sr@latin]=Kompresuj
Name[tr]=Sıkıştır
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action Delete]
Exec=rootactions-servicemenu.pl root_delete %U
Icon=edit-delete
Name=Delete
Name[ca]=Esborra
Name[cs]=Smazat
Name[de]=Löschen
Name[el]=Διαγραφή
Name[es]=Borrar
Name[fi]=Poista
Name[fr]=Supprimer
Name[gl]=Borrar
Name[hu]=Törlés
Name[it]=Elimina
Name[lt]=Ištrinti
Name[nb]=Slett
Name[nl]=Verwijderen
Name[nn]=Slett
Name[pl]=Usuń
Name[pt]=Apagar
Name[pt_BR]=Apagar
Name[pt_PT]=Apagar
Name[ru]=Удалить
Name[sr]=Обриши
Name[sr@latin]=Obriši
Name[tr]=Sil
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action ChangeRoot]
Exec=rootactions-servicemenu.pl root_ownership %U
Icon=preferences-desktop-user-password
Name=Ownership to Root
Name[ca]=Propietari a root
Name[cs]=Nastavit vlastníka na Root
Name[de]=Administrator zum Eigentümer machen
Name[el]=Ιδιοκτησία σε Υπερχρήστη
Name[es]=Cambiar propietario a root
Name[fi]=Omistus pääkäyttäjälle
Name[fr]=Attribuer à root
Name[gl]=Facer dono ao root
Name[hu]=Tulajdonos beállítása mint rendszergazda
Name[it]=Cambia proprietario in Root
Name[lt]=Nuosavybės teisės Root naudotojui
Name[nb]=Sett eierskap til root
Name[nl]=Root eigenaar maken
Name[nn]=Set eigarskap til root
Name[pl]=Zmień własność na administratora
Name[pt]=Alterar dono para 'Root'
Name[pt_BR]=Posse para 'Root'
Name[pt_PT]=Alterar dono para 'Root'
Name[ru]=Установить владельцем root
Name[sr]=Постави власништво на кореног корисника
Name[sr@latin]=Postavi vlasništvo na korenog korisnika
Name[tr]=Dosyayı yetkili kullanıcının yap
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action ChangeUser]
Exec=rootactions-servicemenu.pl user_ownership %U
Icon=preferences-desktop-user
Name=Ownership to Active User
Name[ca]=Propietari a usuari actiu
Name[cs]=Nastavit vlastníka na aktuálního uživatele
Name[de]=Aktuellen Benutzer zum Eigentümer machen
Name[el]=Ιδιοκτησία σε Ενεργό Χρήστη
Name[es]=Cambiar propietario a usuario actual
Name[fi]=Omistus nykyiselle käyttäjälle
Name[fr]=Attribuer à l'utilisateur
Name[gl]=Facer dono ao usuario actual
Name[hu]=Tulajdonos beállítása az aktív felhasználóra
Name[it]=Cambia proprietario in utente attivo
Name[lt]=Nuosavybės teisės dabartiniam naudotojui
Name[nb]=Sett eierskap til aktiv bruker
Name[nl]=Actieve gebruiker eigenaar maken
Name[nn]=Set eigarskap til aktiv brukar
Name[pl]=Zmień własność na bieżącego użytkownika
Name[pt]=Alterar dono para o utilizador actual
Name[pt_BR]=Posse para 'Usuário Ativo'
Name[pt_PT]=Alterar dono para o utilizador actual
Name[ru]=Установить владельцем активного пользователя
Name[sr]=Постави власништво на тренутног корисника
Name[sr@latin]=Postavi vlasništvo na trenutnog korisnika
Name[tr]=Dosyayı şu anda oturumu açık kullanıcının yap
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action ChangeCustom]
Exec=rootactions-servicemenu.pl custom_ownership %U
Icon=user-properties
Name=Ownership to ...
Name[ca]=Propietari a...
Name[cs]=Nastavit vlastníka na...
Name[de]=Eigentümer wechseln...
Name[el]=Ιδιοκτησία σε ...
Name[es]=Cambiar propietario a...
Name[fi]=Omistus käyttäjälle ...
Name[fr]=Attribuer à...
Name[gl]=Facer dono a...
Name[hu]=Tulajdonos csere...
Name[it]=Cambia proprietario in...
Name[lt]=Nuosavybės teises ...
Name[nb]=Sett eierskap til ...
Name[nl]=Wijzig eigenaar in ...
Name[nn]=Set eigarskap til ...
Name[pl]=Zmień własność na...
Name[pt]=Alterar dono para ...
Name[pt_BR]=Posse para ...
Name[pt_PT]=Alterar dono para ...
Name[ru]=Установить владельцем...
Name[sr]=Постави власништво...
Name[sr@latin]=Postavi vlasništvo...
Name[tr]=Dosyanın sahibini değiştir...
#Name[xx]=Your string 'xx' is the country abbreviation

[Desktop Action ChangePerm]
Exec=rootactions-servicemenu.pl root_permissions %U
Icon=folder-locked
Name=Change Permissions
Name[ca]=Canvia els permisos
Name[cs]=Změnit práva
Name[de]=Berechtigungen bearbeiten
Name[el]=Αλλαγή Αδειών
Name[es]=Cambiar permisos
Name[fi]=Muuta käyttöoikeuksia
Name[fr]=Modifier les droits d'accès
Name[gl]=Cambiar os permisos
Name[hu]=Jogok megváltoztatása
Name[it]=Cambia permessi
Name[lt]=Keisti leidimus
Name[nb]=Endre Rettigheter
Name[nl]=Toegangsrechten instellen
Name[nn]=Endra Rettigheiter
Name[pl]=Zmień uprawnienia
Name[pt]=Alterar permissões
Name[pt_BR]=Alterar permissões
Name[pt_PT]=Alterar permissões
Name[ru]=Изменить разрешения
Name[sr]=Измени дозволе
Name[sr@latin]=Izmeni dozvole
Name[tr]=Yetkileri değiştir
#Name[xx]=Your string 'xx' is the country abbreviation
