Package: bigsamba
Version: 1.0.0-1kaiana7
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Section: admin
Depends: samba
Priority: optional
Description: ShellScript for manage samba

