Package: bigcontrolcenter-themes-styleqt
Version: 1.0.1-1kaiana4
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: systemsettings, bigcontrolcenter
Section: admin
Priority: optional
Description: Configure style for QT programs

