Package: kaiana-menu
Version: 1.0.0-0kaiana5
Architecture: all
Maintainer: Paulo Giovanni Pereira <www.unialivre.com>
Installed-Size: 92
Section: admin
Priority: optional
Description: Install Kaiana icon to kmenu
