Package: bigcontrolcenter-hardware-keyboard
Version: 1.0.0-1kaiana8
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: bigcontrolcenter, kdebase-workspace-bin | kde-workspace-bin
Replaces: bigcontrolcenter-hardware-kde-keyboard, bigcontrolcenter-hardware-mouse
Conflicts: bigcontrolcenter-hardware-kde-keyboard, bigcontrolcenter-hardware-mouse
Section: admin
Priority: optional
Description: Configure keyboard, mouse and touchpad.
