Package: big-fix-translation-kdemultimedia
Version: 1.0.0-1kaiana1
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Replaces: kdemultimedia-kio-plugins
Depends: kdemultimedia-kio-plugins
Section: x11
Priority: optional
Description: For best translation
