Package: totem-hidden
Version: 1.0.0-0kaiana3
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Section: admin
Priority: optional
Depends: totem
Description: Hidden totem in menu / Esconde o totem do menu

