<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>DarkChat</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.DarkChat.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.1</string>
	<key>CFBundleName</key>
	<string>DarkChat</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>DefaultBackgroundColor</key>
	<string>000000</string>
	<key>DefaultFontFamily</key>
	<string>Lucida Grande</string>
	<key>DefaultFontSize</key>
	<integer>13</integer>
	<key>ShowIncomingFonts</key>
	<false/>
	<key>DisableCustomBackground</key>
	<false/>
	<key>ShowsUserIcons</key>
	<false/>
</dict>
</plist>
