[L10N]
DEFAULT_FONT = "Arial"
DEFAULT_WORDART_TEXT_FONT = "Arial Black"
GUI_FONT = "Segoe UI, Arial Unicode MS, Arial, Ubuntu, Helvetica, Times New Roman"
GUI_FONT_SIZE_MIN = 8

; Full-width char support: such as 【】
;	Find ignore Half-width and Full-width
;	Half-width Full-width Convert
FULL_WIDTH_CHARACTER_SUPPORT = false

; Japanese Language extend support: 
;	Japanese Find
;	Japanese Case Convert
JAPANESE_LANGUAGE_SUPPORT = false

SHOW_RB_SEPARATOR = false

2012_THEME_SUPPORT = false

SHOW_TASK_TABBAR_TEXT = false

CJK_SUPPORT = false

HELP_PAGE = "http://help.wps.com/"
HELP_PAGE_WPS = "http://help.wps.com/"
HELP_PAGE_WPP = "http://help.wps.com/"
HELP_PAGE_ET = "http://help.wps.com/"

WPS_FACEBOOK = "http://www.facebook.com/kingsoftwps"

BUY_URL = "http://www.wps.com/wpspro/"
BUY_URL_PARAM = ""

FEEDBACK_ADDRESS = "mailto:officesupport@wps.com"

DATA_RECOVER_URL = "http://wdl1.cache.wps.cn/wps/download/KsodrSetup_0.exe"
FORUM_URL = "http://bbs.wps.cn"
MICROBLOG_URL = "http://e.weibo.com/wpswfw"
NEW_FEATURES_URL = "http://www.wps.cn/product/wps2013/"
PRODUCT_CENTER_URL = "http://www.wps.cn/product"

ALLOW_COMMA_AS_DECIMAL_POINT = true

LOGICGROUP_ARROW_SUPPORT = false

RIBBON_HOTKEY_SUPPORT = false

KOS_CLOUD_FEEDBACK_URL = "http://help.wps.com/"
