
header { margin: 0 0 20px 20px !important; }

#main { padding-left: 20px; }

#services { margin-right: 15px; }
	#services .icon { float: left; overflow: hidden; }
	#services .info { padding: 8px; overflow: hidden; }

