{% extends "layout/layout.html" %}
{% block body %}
    {% for service in services %}
		<div id="services" class="panel panel-default col-xs-5 col-sm-5">
			<div class="panel-body">
				<a href="javascript:;" data-service="{{ service['filename'] }}" data-toggle="tooltip" data-placement="top" title="{{ service['comment'] }}">
					<div class="icon">
						{% if service['icon'] == "None" %}
							<img src="{{ url_for('static', filename='images/exec.png') }}" />
						{% else %}
							<img src="data:image/png;base64,{{ service['icon'] }}" />
						{% endif %}							
					</div>
					<div class="info">
						{{ service["name"] }}
					</div>
				</a>
			</div>
		</div>
    {% endfor %}
{% endblock %}
