Package: kaiananame
Version: 14.04-0kaiana1
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Section: admin
Replaces: base-files
Priority: optional
Description: Basic package for Kaiana

