[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-math
Type=Application
Categories=Office;
Exec=libreoffice -math %U
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.sun.xml.math;application/vnd.stardivision.math;
Name=Formula (Math)
Name[af]=Formule (Math)
Name[am]=ቀማሪ
Name[ar]=معادلات
Name[be@latin]=Formuła (Math)
Name[bg]=Формула
Name[bn]=সূত্র
Name[ca]=Fórmula (Math)
Name[cs]=Vzorce (Math)
Name[da]=Formel (Math)
Name[de]=Formel (Math)
Name[dz]=མན་ངག
Name[el]=Φόρμουλα
Name[en_CA]=Formula (Math)
Name[en_GB]=Formula (Math)
Name[en_ZA]=Formula (Math)
Name[eo]=Formulo (Math)
Name[es]=Fórmula (Math)
Name[et]=Valem (Math)
Name[eu]=Formula (Math)
Name[fi]=Kaava (Math)
Name[fil]=Pormula (Math)
Name[fr]=Formule (Math)
Name[gl]=Fórmula (Math)
Name[he]=משוואות
Name[hr]=Formula (Math)
Name[hu]=Képlet
Name[it]=Formula (Math)
Name[ja]=Formula (Math)
Name[ka]=ფორმულა
Name[kn]=ಸೂತ್ರ
Name[ko]=수식편집기
Name[ku]=Formul (Math)
Name[lt]=Formulės (Math)
Name[mk]=Формула
Name[nb]=Formel (Math)
Name[ne]=सूत्र
Name[nl]=Formule (Math)
Name[nr]=Fomula (Math)
Name[nso]=Fomula (Math)
Name[oc]=Formula (Math)
Name[ooo-build-da]=Formel (Math)
Name[ooo-build-de]=Formel (Math)
Name[ooo-build-es]=Fórmula (Math)
Name[ooo-build-et]=Valem (Math)
Name[ooo-build-fi]=Kaava (Math)
Name[ooo-build-fr]=Formule (Math)
Name[ooo-build-hr]=Formula (Math)
Name[ooo-build-hu]=Képlet (Math)
Name[ooo-build-it]=Formula (Math)
Name[ooo-build-ja]=式
Name[ooo-build-km]=រូបមន្ដ
Name[ooo-build-ko]=수식
Name[ooo-build-nb]=Formel (Math)
Name[ooo-build-nl]=Formule (Math)
Name[ooo-build-pl]=Formuła (Math)
Name[ooo-build-pt-BR]=Fórmula (Math)
Name[ooo-build-ru]=Формула
Name[ooo-build-sk]=Vzorec (Math)
Name[ooo-build-sr]=Формула
Name[ooo-build-uk]=Формула
Name[pl]=Wzory (Math)
Name[ps]=فارموله
Name[pt]=Fórmula (Math)
Name[pt_BR]=Fórmula (Math)
Name[ru]=Формула
Name[rw]=Inzira (Math)
Name[sk]=Vzorec (Math)
Name[sl]=Enačbe
Name[sq]=Formulë (Math)
Name[sr]=Формула
Name[sr@latin]=Formula (Math)
Name[st]=Fomula (Math)
Name[sv]=Formel (Math)
Name[tl]=Pormula (Math)
Name[tr]=Formül (Math)
Name[ts]=Fomula (Math)
Name[uk]=Formula (Math)
Name[vi]=Biểu thức (Math)
Name[wa]=Formules (Math)
Name[xh]=Indlela yokusebenza (Math)
Name[zh_CN]=公式
Name[zu]=Ifomula (Math)
Comment=Create and edit scientific formulas and equations.
Comment[am]=ሳይንሳዊ ቀመሮችና ሂሳባዊ ስሌቶችን ይድረሱ፣ ያርሙ፡፡
Comment[ar]=انشئ و حرر الصيغ العلمية و المعادلات
Comment[bn]=বৈজ্ঞানিক সূত্র এবং নীতি তৈরি এবং সম্পাদনা।
Comment[ca]=Creeu i editeu fórmules científiques i equacions.
Comment[cs]=Vytvářet a upravovat vědecké vzorce a rovnice.
Comment[da]=Opret og redigér videnskabelige formler og ligninger.
Comment[de]=Wissenschaftliche Formeln erstellen und bearbeiten.
Comment[el]=Δημιουργία και επεξεργασία συναρτήσεων και εξισώσεων
Comment[en_GB]=Create and edit scientific formulae and equations.
Comment[eo]=Krei kaj redakti sciencajn formulojn kaj ekvaciojn.
Comment[es]=Crear y editar fórmulas científicas y ecuaciones.
Comment[et]=Loo ja muuda teaduslikke valemeid ja võrrandeid.
Comment[eu]=Formula zientifikoak eta ekuazioak editatu eta sortu.
Comment[fi]=Luo ja muokkaa tieteellisiä kaavoja ja yhtälöitä.
Comment[fil]=Lumikha at isaayos ang mga pangsayantipikong pormula at mga equation.
Comment[fr]=Créer et éditer des formules scientifiques et des équations.
Comment[gl]=Crea e edita ecuacións e fórmulas científicas.
Comment[he]=צרו וערכו נוסחאות מדעיות ומשוואות.
Comment[hr]=Izradite i uredite formule i jednadžbe.
Comment[hu]=Tudományos képletek és egyenlőségek készítése és szerkesztése.
Comment[it]=Crea e modifica formule scentifiche ed equazioni.
Comment[ja]=科学の公式や方程式を作成・編集します。
Comment[ka]=სამეცნიერო ფორმულებისა და განტოლებების შექმნა და რედაქტირება.
Comment[ko]=수학 공식을 만들고 수정합니다.
Comment[ku]=Rêbazên zanistî û beramberan biafirîne û sererast bike.
Comment[lt]=Kurkite bei redaguokite matematines ir kt. formules bei lygtis
Comment[nl]=Wetenschappelijke en wiskundige formules opstellen en bewerken.
Comment[oc]=Crear e editar de formulas scientificas e d'equations.
Comment[pl]=Tworzenie i modyfikowanie wzorów matematycznych i naukowych.
Comment[pt]=Crie e edite fórmulas científicas e equações.
Comment[pt_BR]=Cria e edita fórmulas científicas e equações.
Comment[ru]=Создание и редактирование научных формул и уравнений.
Comment[sk]=Vytvárajte a upravujte vedecké vzorce a rovnice.
Comment[sr]=Направите и уређујте научне формуле и једначине.
Comment[sv]=Skapa och redigera vetenskapliga formler och ekvationer.
Comment[tl]=Lumikha at isaayos ang mga pangsayantipikong pormula at mga equation.
Comment[tr]=Bilimsel formüller ve denklemler oluşturun ve düzenleyin.
Comment[uk]=Створення і редагування наукових формул.
Comment[vi]=Tạo và hiệu đính phương trình và công thức khoa học.
Comment[zh_CN]=创建和编辑科学公式与方程。
Comment[zh_TW]=建立及編輯科學方程式及等式。
Comment=Create and edit scientific formulas and equations by using Math.
Comment[en]=Create and edit scientific formulas and equations by using Math.
InitialPreference=5
X-KDE-Protocols=file,http,smb,ftp,webdav
