[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-draw
Type=Application
Categories=Office;Graphics;
Exec=libreoffice -draw %U
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.stardivision.draw;
Name=Drawing (Draw)
Name[af]=Teken (Draw)
Name[am]=ምስል አቀናጅ
Name[ar]=الرسم
Name[az]=Rəsm (Draw)
Name[be@latin]=Rysavańnie
Name[bg]=Рисунка
Name[bn]=ড্রয়িং
Name[bs]=Crtanje (Draw)
Name[ca]=Dibuix (Draw)
Name[cs]=Kreslení (Draw)
Name[da]=Tegneprogram (Draw)
Name[de]=Zeichnung (Draw)
Name[dz]=པར་རིས།
Name[el]=Σχεδιασμός
Name[en_CA]=Drawing (Draw)
Name[en_GB]=Drawing (Draw)
Name[en_ZA]=Drawing (Draw)
Name[eo]=Desegnajxo (Draw)
Name[es]=Dibujo (Draw)
Name[et]=Joonistus (Draw)
Name[eu]=Marrazketa (Draw)
Name[fi]=Piirros (Draw)
Name[fil]=Gumuhit (Draw)
Name[fr]=Dessin (Draw)
Name[ga]=Tarraingt (Draw)
Name[gl]=Debuxo (Draw)
Name[gu]=ચિત્ર
Name[he]=ציור
Name[hr]=Crtanje (Draw)
Name[hu]=Rajzoló (Draw)
Name[it]=Disegno (Draw)
Name[ja]=図形描画
Name[ka]=გრაფიკა
Name[kn]=ಕಲೆ
Name[ko]=그리기
Name[ku]=Xêzkirin (Draw)
Name[lt]=Piešimas ir braižyba
Name[mk]=Цртање
Name[ms]=Lukisan (Draw)
Name[nb]=Tegning (Draw)
Name[ne]=रेखाचित्र
Name[nl]=Tekenen (Draw)
Name[nr]=Umgwalo (Draw)
Name[nso]=Go Thala (Draw)
Name[oc]=Dessenh (Draw)
Name[pa]=ਡਰਾਇੰਗ
Name[pl]=Rysowanie (Draw)
Name[ps]=انځورګري
Name[pt]=Desenhar (Draw)
Name[pt_BR]=Desenho (Draw)
Name[ru]=Рисунок (Draw)
Name[rw]=Igishushanyo (Draw)
Name[sk]=Kreslenie (Draw)
Name[sl]=Risanje (Draw)
Name[sq]=Vizatim (Draw)
Name[sr]=Цртање (Draw)
Name[sr@latin]=Crtanje (Draw)
Name[st]=Ho torowa (Draw)
Name[sv]=Ritning (Draw)
Name[th]=วาดเขียน
Name[tl]=Gumuhit (Draw)
Name[tr]=Çizim (Draw)
Name[ts]=Vudirowi (Draw)
Name[uk]=Малювання
Name[vi]=Vẽ hình
Name[wa]=Dessinaedje (Draw)
Name[xh]=Umzobo (Draw)
Name[zh_CN]=绘图
Name[zh_TW]=繪圖
Name[zu]=Ukudweba (Draw)
Comment=Create and edit drawings, flow charts, and logos.
Comment[am]=ምስሎችን፣ ምልክቶችን፣ የሂድት ዱካ...ወዘተ ይድረሱ
Comment[bn]=ড্রয়িং, ফ্লো চার্ট, এবং লোগো তৈরি এবং সম্পাদনা।
Comment[ca]=Creeu i editeu dibuixos, diagrames de flux i logotips.
Comment[cs]=Vytvářet a upravovat obrázky, grafy a loga.
Comment[da]=Opret og redigér tegninger, rutediagrammer og logoer.
Comment[de]=Zeichnungen erstellen und bearbeiten, Flussdiagramme entwerfen und Logos kreieren.
Comment[el]=Δημιουργία και επεξεργασία σχεδίων, διαγραμμάτων και λογοτύπων
Comment[en_GB]=Create and edit drawings, flow charts, and logos.
Comment[eo]=Krei kaj redakti desegnajxojn, stirfluajn diagramojn, kaj identigajn simbolojn.
Comment[es]=Crear y editar dibujos, diagramas de flujo y logotipos.
Comment[et]=Loo ja muuda joonistusi, graafikuid ja logosid.
Comment[fi]=Luo ja muokkaa piirroksia, vuokaavioita ja logoja.
Comment[fil]=Lumikha at isaayos ang mga guhit, mga flow chart, at mga logo.
Comment[fr]=Créer et éditer des dessins, des organigrammes et des logos.
Comment[gl]=Crea e edita debuxos, diagramas de fluxo, e logos.
Comment[he]=צרו וערכו איורים, תרשימי זרימה ולוגואים.
Comment[hr]=Izradite i uredite crteže, logotipe i sheme.
Comment[hu]=Rajozok, folyamatábrák és logók készítése és szerkesztése.
Comment[it]=Crea e modifica disegni, diagrammi di flusso e loghi.
Comment[ja]=図形、フローチャート、ロゴを作成・編集します。
Comment[ka]=ნახატების, სქემებისა და ლოგოების შექმნა და რედაქტირება.
Comment[ko]=그림이나 순서도, 표어를 만들고 수정합니다.
Comment[ku]=Wêneyan, nexşeyin belqînê û logoyan biafirîne û serrast bike
Comment[lt]=Kurkite bei tobulinkite brėžinius, blokines schemas, diagramas ir logotipus.
Comment[nl]=Tekeningen, stroomdiagrammen en logo's maken en bewerken.
Comment[pl]=Tworzenie i modyfikowanie rysunków, schematów blokowych i znaków graficznych.
Comment[pt]=Crie e edite desenhos, diagramas de fluxo e logotipos.
Comment[pt_BR]=Crie e edite desenhos, gráficos e logotipos.
Comment[ru]=Создание и редактирование рисунков, блок-схем и логотипов.
Comment[sk]=Vytvárajte a upravujte kresby, grafy a logá.
Comment[sr]=Направите и уређујте цртеже, дијаграме тока и логотипе.
Comment[sv]=Skapa och redigera ritningar, flödesscheman och logotyper.
Comment[tl]=Lumikha at isaayos ang mga guhit, mga flow chart, at mga logo.
Comment[tr]=Çizimler, akış şemaları ve logolar oluşturun ve düzenleyin.
Comment[vi]=Tạo và hiệu chỉnh các bản vẽ, đồ thị và logo.
Comment[zh_CN]=创建和编辑图画、流程图和Logo
InitialPreference=5
X-KDE-Protocols=file,http,smb,ftp,webdav
