[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-writer
Type=Application
Categories=Office;
Exec=libreoffice -writer %U
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-template;application/vnd.oasis.opendocument.text-web;application/vnd.oasis.opendocument.text-master;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.sun.xml.writer.global;application/vnd.stardivision.writer;application/msword;application/vnd.ms-word;application/x-doc;application/rtf;text/rtf;application/vnd.wordperfect;application/wordperfect;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-word.template.macroenabled.12;
Name=Word Processor (Writer)
Name[af]=Woordverwerker (Writer)
Name[am]=ጽሁፍ አቀናጅ
Name[ar]=معالج كلمات
Name[az]=Kəlmə İşlədici
Name[be@latin]=Redaktar dakumentaŭ
Name[bg]=Текстообработка
Name[bn]=ওয়ার্ড প্রসেসর
Name[bs]=Word Processor (Writer)
Name[ca]=Processador de textos (Writer)
Name[cs]=Textový procesor (Writer)
Name[da]=Tekstbehandler (Writer)
Name[de]=Textverarbeitung (Writer)
Name[dz]=ཡིག་སྦྱོར་པ།
Name[el]=Επεξεργαστής κειμένου
Name[en_CA]=Word Processor (Writer)
Name[en_GB]=Word Processor (Writer)
Name[en_ZA]=Word Processor (Writer)
Name[eo]=Verkilo (Writer)
Name[es]=Procesador de textos (Writer)
Name[et]=Tekstiredaktor (Writer)
Name[eu]=Testu prozesatzailea (Writer)
Name[fi]=Tekstinkäsittely (Writer)
Name[fil]=Tagaproseso ng Salita (Writer)
Name[fr]=Traitement de texte (Writer)
Name[ga]=Próiseálaithe Focal (Writer)
Name[gl]=Procesador de textos (Writer)
Name[gu]=વર્ડ પ્રોસેસર
Name[he]=מעבד תמלילים
Name[hr]=Program za obradu teksta
Name[hu]=Szövegszerkesztő
Name[is]=Ritvinnsla
Name[it]=Word processor (Writer)
Name[ja]=ワードプロセッサ
Name[ka]=ტექსტის რედაქტორი
Name[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
Name[ko]=워드 프로세서
Name[ku]=Bernameya nivîsandinê
Name[lt]=Tekstų redaktorius
Name[mk]=Процесор за текст
Name[ms]=Pemproses Perkataan (Writer)
Name[nb]=Tekstbehandling (Writer)
Name[ne]=शब्द प्रशोधक
Name[nl]=Tekstverwerker
Name[nr]=Isenzi Mitlolo (Writer)
Name[nso]=Sehlami sa Lentšu
Name[oc]=Tractament de tèxt (Writer)
Name[pa]=ਸ਼ਬਦਕਾਰ
Name[pl]=Procesor tekstu (Writer)
Name[ps]=ويې بهيرګر
Name[pt]=Editor de Texto (Writer)
Name[pt_BR]=Editor de texto (Writer - Compatível com Word)
Name[ru]=Редактор текстов
Name[sk]=Textový editor (Writer)
Name[sl]=Urejevalnik besedil (Writer)
Name[sq]=Procesues teksti (Writer)
Name[sr]=Текст
Name[sr@latin]=Tekst
Name[st]=Word Processor (Writer)
Name[sv]=Ordbehandlare (Writer)
Name[th]=พิมพ์งาน
Name[tl]=Tagaproseso ng Salita (Writer)
Name[tr]=Kelime İşlemci (Writer)
Name[ts]=Xitirhisi xa marito (Writer)
Name[uk]=Текстовий процесор
Name[vi]=Xử lý văn bản
Name[wa]=Aspougneu d' tecse
Name[xh]=Inkqubo Yokuqhuba Amagama (Writer)
Name[zh_CN]=文字处理
Name[zh_TW]=文書處理器
Name[zu]=Umshini Ohlela Amagama (Writer)
Comment=Create and edit text and graphics in letters, reports, documents and Web pages.
Comment[am]=ጽሁፍ፣ ንድፍ፣ ሪፖርት፣ ደብዳቤዎች፣ ሰነድ፣ የመረብ ገጽ... ወዘተ ይድረሱ
Comment[ar]=تنشئ و حرر النصوص و الرسوميات في الخطابات، التقارير، المستندات و صفحات الويب
Comment[bn]=চিঠি, রিপোর্ট, ডকুমেন্ট এবং ওয়েব পেইজে লেখা এবং ছবি তৈরি এবং সম্পাদনা
Comment[ca]=Creeu i editeu text i gràfics a cartes, informes, documents i pàgines web.
Comment[cs]=Vytvářet a upravovat text a grafiku v dopisech, oznámeních, dokumentech a WWW stránkách.
Comment[da]=Opret og redigér tekst og grafik i breve, rapporter, dokumenter og hjemmesider.
Comment[de]=Erstellen und Bearbeiten von Text und Grafiken in Briefen, Reports, Dokumenten und Web-Seiten.
Comment[el]=Δημιουργία και επεξεργασία κειμένου και γραφικών σε γράμματα, αναφορές και ιστοσελίδες
Comment[en_GB]=Create and edit text and graphics in letters, reports, documents and Web pages.
Comment[eo]=Krei kaj redakti tekston kaj grafikajxojn en leteroj, raportoj, dokumentoj kaj TTT-pagxoj.
Comment[es]=Crear y editar textos y gráficos en cartas, informes, documentos y páginas web.
Comment[et]=Loo ja muuda tekste ja graafikat kirjades, raportites, dokumentides ja veebilhetdel.
Comment[fi]=Luo ja muokkaa tekstejä ja grafiikkaa kirjeisiin, raportteihin, asiakirjoihin ja WWW-sivuille.
Comment[fil]=Lumikha at isaayos ang nilalaman at  mga graphics sa mga sulat, mga ulat, mga dokumento at mga pahina sa Web.
Comment[fr]=Créer et éditer des textes et des images dans des courriers, rapports, documents et pages Web.
Comment[gl]=Crea e edita texto e gráficos en cartas, informes, documentos e páxinas web.
Comment[he]=צרו וערכו טקסט וגרפיקה בדוחו"ת, מסמכים ודפי אינטרנט.
Comment[hr]=Izradite i uredite tekst i slike u pismima, izvještajima, dokumentima i web stranicama.
Comment[hu]=Szöveg és képek készítése és szerkesztése levelekben, jelentésekben, dokumentumokban és weboldalakon.
Comment[it]=Crea e modifica il testo e la grafica di lettere, rapporti, documenti e pagine Web.
Comment[ja]=レター、レポート、ドキュメントおよび Web ページのテキストおよび図を作成・編集します。
Comment[ka]=ტექსტისა და გრაფიკის შექმნა და რედაქტირება წერილებში, ანგარიშებში, დოკუმენტებსა და ვებ გვერდებში.
Comment[ko]=편지나 보고서, 문서, 웹페이지에 있는 글과 그림을 만들고 수정합니다.
Comment[ku]=Nameyan, raporan û nivîs û dîtbariyên rûpelên Webê de pêk bîne û wan sererast bike.
Comment[lt]=Kurkite ir redaguokite tekstą, brėžinius bei grafiką dokumentuose, laiškuose, ataskaitose bei pranešimuose ir interneto puslapiuose.
Comment[nl]=Teksten en afbeeldingen voor brieven, rapporten, documenten en web-pagina's aanmaken en bewerken.
Comment[pl]=Tworzenie i modyfikowanie listów, raportów, dokumentów i stron WWW.
Comment[pt]=Crie e edite texto e gráficos em cartas, relatórios, documentos e páginas Web.
Comment[pt_BR]=Cria e edita textos e gráficos em cartas, relatórios, documentos e páginas da web.
Comment[ru]=Создание и редактирование текста и рисунков в письмах, отчетах, документах или веб-страницах.
Comment[sk]=Vytvárajte a upravujte text a vzhľad listov, správ, dokumentov a internetových stránok.
Comment[sr]=Пишите и уређујте текст и графику у писмима, извештајима и веб страницама.
Comment[sv]=Skapa och redigera text och grafik i brev, rapporter, dokument och webbsidor.
Comment[tl]=Lumikha at isaayos ang nilalaman at  mga graphics sa mga sulat, mga ulat, mga dokumento at mga pahina sa Web.
Comment[tr]=Mektuplar, raporlar ve Web sayfalarında metin ve görseller oluşturun ve düzenleyin.
Comment[uk]=Створення і редагування тексту і графіки  листах, звітах, документах та Веб сторінках.
Comment[zh_CN]=创建和编辑文本、图形，通过信纸、报告、文档和网页等
Comment[zh_TW]=於信件、報表、文件及網頁中建立及編輯文字。
InitialPreference=5
X-KDE-Protocols=file,http,smb,ftp,webdav
