[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-impress
Type=Application
Categories=Office;
Exec=libreoffice -impress %U
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.stardivision.impress;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroenabled.12;
Name=Presentation (Impress)
Name[af]=Voorlegging (Impress)
Name[am]=ትዕይንት
Name[ar]=عرض تقديمي
Name[az]=Təqdimat
Name[be@latin]=Prezentacyja (Impress)
Name[bg]=Презентация
Name[bn]=প্রেজেন্টেশন
Name[bs]=Prezentacija (Impress)
Name[ca]=Presentació (Impress)
Name[cs]=Prezentace (Impress)
Name[da]=Præsentation (Impress)
Name[de]=Präsentation (Impress)
Name[dz]=གསལ་སྟོན།
Name[el]=Παρουσιάσεις
Name[en_CA]=Presentation (Impress)
Name[en_GB]=Presentation (Impress)
Name[en_ZA]=Presentation (Impress)
Name[eo]=Prezentajxo (Impress)
Name[es]=Presentación (Impress)
Name[et]=Esitlus (Impress)
Name[eu]=Aurkezpena (Impress)
Name[fi]=Esitys (Impress)
Name[fil]=Pagtatanghal (Impress)
Name[fr]=Présentation (Impress)
Name[ga]=Toirbeathas (Impress)
Name[gl]=Presentación (Impress)
Name[gu]=રજૂઆત
Name[he]=מצגת
Name[hr]=Prezentacija (Impress)
Name[hu]=Bemutatókészítő
Name[is]=Kynning (Impress)
Name[it]=Presentazione (Impress)
Name[ja]=プレゼンテーション
Name[ka]=პრეზენტაცია
Name[kn]=ಮಂಡನೆ
Name[ko]=프리젠테이션
Name[ku]=Pêşkêşî
Name[lt]=Pateiktis (Impress)
Name[mk]=Презентација
Name[ms]=Persembahan (Impress)
Name[nb]=Presentasjon (Impress)
Name[ne]=प्रस्तुति
Name[nl]=Presentatie (Impress)
Name[nr]=Phrizentheyitjhini (Impress)
Name[nso]=Tlhagišo
Name[oc]=Presentacion (Impress)
Name[pa]=ਪੇਸ਼ਕਾਰੀ
Name[pl]=Prezentacja (Impress)
Name[ps]=وړاندېينه
Name[pt]=Apresentação (Impress)
Name[pt_BR]=Apresentação (Impress - Compatível com Power Point)
Name[ru]=Презентация
Name[rw]=Iyerekana (Impress)
Name[sk]=Prezentácia (Impress)
Name[sl]=Predstavitev (Impress)
Name[sq]=Prezantime (Impress)
Name[sr]=Презентација (Impress)
Name[sr@latin]=Prezentacija (Impress)
Name[st]=Nehelano (Impress)
Name[sv]=Presentation (Impress)
Name[th]=งานนำเสนอ
Name[tl]=Pagtatanghal (Impress)
Name[tr]=Sunum (Impress)
Name[ts]=Nkombiso (Impress)
Name[uk]=Презентації
Name[vi]=Trình diễn
Name[wa]=Prezintåcion (Impress)
Name[xh]=Umboniso wenkcazelo (Impress)
Name[zh_CN]=演示
Name[zh_TW]=簡報
Name[zu]=Iprezenteyshin (Impress)
Comment=Create and edit presentations for slideshows, meeting and Web pages.
Comment[am]=ለስብሰባና ለመረብ ገጽ የሚሆኑ የመረጃ ትዕይንቶችን ይድረሱ ወይም ያርሙ
Comment[ar]=انشاء  و تحرير العروض التقديمية  للعروض ، الاجتماعات و صفحات الويب.
Comment[bn]=স্লাইড শো, মিটিং এবং ওয়েব পেইজের জন্য প্রেজেন্টেশন তৈরি এবং সম্পাদনা
Comment[ca]=Creeu i editeu presentacions per a diapositives, pàgines web i conferències.
Comment[cs]=Vytvářet a upravovat prezentace vhodné jako slideshow, na meeting nebo pro webové stránky.
Comment[da]=Opret og redigér præsentationer til diasoplæg, møder og websider.
Comment[de]=Erstellen und Bearbeiten von Präsentationen für Dia-Vorführungen, Meetings und Web-Auftritte.
Comment[el]=Δημιουργία και επεξεργασία παρουσιάσεων για συνεδριάσεις και ιστοσελίδες.
Comment[en_GB]=Create and edit presentations for slideshows, meeting and Web pages.
Comment[eo]=Krei kaj redakti prezentajxojn por lumbildaj prezentadoj, kunveno kaj TTT-pagxoj.
Comment[es]=Crear y editar diapositivas para presentaciones, reuniones y páginas web.
Comment[et]=Loo ja redigeeri esitlusi slaidietenduseks, kohtumisteks ja veebilehtede jaoks.
Comment[fi]=Luo ja muokkaa esityksiä esitelmiin, tapaamisiin ja WWW-sivuille.
Comment[fil]=Lumikha at isaayos ang mga pagtatanghal para sa mga slideshow, pagtitipon at mga pahina sa Web.
Comment[fr]=Créer et éditer des présentations pour des diaporamas, des réunions ou des pages Web.
Comment[gl]=Crea e edita presentacións para demostracións, relatorios e páxinas web.
Comment[he]=צרו וערכו מצגות לפגישות, כדי להציג תמונות או לדפי אינטרנט.
Comment[hr]=Izradite i uredite prezentacije za sastanke i web stranice.
Comment[hu]=Bemutatók készítése és szerkesztése diavetítésekhez, találkozókhoz és weblapokhoz.
Comment[it]=Crea e modifica presentazioni per diapositive, incontri e pagine Web.
Comment[ja]=スライドショー、会議、Webページのためのプレゼンテーションを作成・編集します。
Comment[ka]=პრეზენტაციების შექმნა და რედაქტირება სლაიდების ჩვენების, შეხვედრებისა და ვებ გვედრდებისთვის.
Comment[ko]=슬라이드와 회의 발표, 웹페이지를 위한 프레젠페이션을 만들고 수정합니다.
Comment[ku]=Pêşkeşîyan jibo slideshowyan, civin û rûpelên torê biafirîne û serrast bike
Comment[lt]=Kurkite ir tobulinkite pateiktis (skaidres) susitikimams, pristatymams bei interneto puslapiams
Comment[nl]=Presentaties voor diashows, meetings en web-pagina's aanmaken en bewerken.
Comment[oc]=Crear e modificar de presentacions per d'expausats, de reunions e de paginas web.
Comment[pl]=Tworzenie i modyfikowanie prezentacji, które można wykorzystać podczas pokazów, spotkań oraz na stronach WWW.
Comment[pt]=Crie e edite apresentações para reuniões e páginas Web.
Comment[pt_BR]=Cria e edita apresentações de slides, encontros e páginas da web.
Comment[ru]=Создание и редактирование презентаций для слайдшоу, встреч и веб-страниц.
Comment[sk]=Vytvárajte a upravujte prezentácie pre porady, stretnutia a internet.
Comment[sr]=Направите и уређујте презентације за пројекције, састанке и Интернет у Презентацији.
Comment[sv]=Skapa och redigera presentationer för bildspel, möten och webbsidor.
Comment[tl]=Lumikha at isaayos ang mga pagtatanghal para sa mga slideshow, pagtitipon at mga pahina sa Web.
Comment[tr]=Gösteriler, toplantılar ve Web sayfaları için sunular oluşturun ve düzenleyin.
Comment[zh_CN]=为演示、会议、网页创建和编辑演示文稿
Comment[zh_TW]=建立及編輯用於幻燈放映、會議的簡報及網頁。
InitialPreference=5
X-KDE-Protocols=file,http,smb,ftp,webdav
