[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-calc
Type=Application
Categories=Office;
Exec=libreoffice -calc %U
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-template;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/vnd.stardivision.calc;application/vnd.stardivision.chart;application/msexcel;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.sheet.macroenabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.template.macroenabled.12;application/vnd.ms-excel.sheet.binary.macroenabled.12;text/csv;application/x-dbf;
Name=Spreadsheet (Calc)
Name[af]=Sigblad (Calc)
Name[am]=ሠንጠረዥ አስሊ
Name[ar]=جداول ممتدة
Name[az]=Hesab Cədvəli (Calc)
Name[be@latin]=Raźlikovy arkuš (Calc)
Name[bg]=Електронна таблица (Calc)
Name[bn]=স্প্রেডশিট
Name[bs]=Spreadsheet (Calc)
Name[ca]=Full de càlcul (Calc)
Name[cs]=Tabulkový kalkulátor (Calc)
Name[da]=Regneark (Calc)
Name[de]=Tabellenkalkulation (Calc)
Name[dz]=ཤོག་ཁྲམ།
Name[el]=Λογιστικό φύλλο
Name[en_CA]=Spreadsheet (Calc)
Name[en_GB]=Spreadsheet (Calc)
Name[en_ZA]=Spreadsheet (Calc)
Name[eo]=Kalkultabelo (Calc)
Name[es]=Hoja de cálculo (Calc)
Name[et]=Arvutustabel (Calc)
Name[eu]=Kalkulu-orria (Calc)
Name[fi]=Taulukkolaskenta (Calc)
Name[fil]=Spreadsheet (Calc)
Name[fr]=Tableur (Calc)
Name[ga]=Scarbhileog (Calc)
Name[gl]=Folla de cálculo (Calc)
Name[gu]=સ્પ્રેડશીટ
Name[he]=גיליון עבודה
Name[hr]=Tablični kalkulator (Calc)
Name[hu]=Táblázatkezelő (Calc)
Name[is]=Töflureiknir (Calc)
Name[it]=Foglio di calcolo (Calc)
Name[ja]=スプレッドシート
Name[ka]=ელცხრილი
Name[ko]=스프레드시트
Name[ku]=Tabloya Hesêb (Calc)
Name[lt]=Skaičiuoklė (Calc)
Name[mk]=Табели
Name[ms]=Hamparan (Calc)
Name[nb]=Regneark (Calc)
Name[ne]=स्प्रेडसिट
Name[nl]=Rekenblad (Calc)
Name[nr]=Spredtjhiti (Calc)
Name[nso]=Letlakala la go ala tsebišo
Name[oc]=Fuèlha de calcul (Calc)
Name[pa]=ਸਾਰਣੀ
Name[pl]=Arkusz kalkulacyjny (Calc)
Name[ps]=وېړه پاڼه
Name[pt]=Folha de Cálculo (Calc)
Name[pt_BR]=Planilha Eletrônica (Calc - Compatível com Excel)
Name[ru]=Электронная таблица (Calc)
Name[rw]=Urupapurorusesuye (Calc)
Name[sk]=Tabuľka (Calc)
Name[sl]=Razpredelnica (Calc)
Name[sq]=Fleta elektronike (Calc)
Name[sr]=Таблица (Calc)
Name[sr@latin]=Tablica (Calc)
Name[st]=Leqephe la ho ala boitsebiso (Calc)
Name[sv]=Kalkylark (Calc)
Name[th]=ตารางคำนวน
Name[tl]=Spreadsheet (Calc)
Name[tr]=Hesap Çizelgesi (Calc)
Name[ts]=Xipredxiti (Calc)
Name[uk]=Електронні таблиці
Name[vi]=Bảng tính (Calc)
Name[wa]=Tåvleu (Calc)
Name[xh]=Icwecwe leeseli (Calc)
Name[zh_CN]=电子表格
Name[zh_TW]=試算表
Name[zu]=Ispredshit
Comment=Perform calculation, analyze information and manage lists in spreadsheets.
Comment[am]=መረጃዎችዎን በማጥናትና በማስላት  በሠንጠርዥ አስሊ ያስተዳድሩ
Comment[bn]=স্প্রেডশীটে গণনা করা, তথ্য হিসাব করা এবং তালিকা ব্যবস্থাপনা করা।
Comment[ca]=Feu càlculs, analitzeu informació i gestioneu llistes a fulls de càlcul.
Comment[cs]=Provádět výpočty, analyzovat informace a spravovat seznamy ve formě tabulek.
Comment[da]=Udfør beregning, analysér information og administrér lister i regneark.
Comment[de]=Berechnungen ausführen, Informationen analysieren und Listen in Tabellen verwalten.
Comment[el]=Εκτέλεση υπολογισμών, ανάλυση πληροφοριών και διαχείριση λιστών δεδομένων σε λογιστικά φύλλα.
Comment[en_GB]=Perform calculation, analyse information and manage lists in spreadsheets.
Comment[eo]=Plenumi kalkuladon, analizi informojn kaj mastrumi listojn en kalkultabeloj.
Comment[es]=Realizar cálculos, analizar información y gestionar listas en hojas de cálculo.
Comment[fi]=Tee laskelmia, käsittele tietoa ja hallitse luetteloita laskentataulukoissa.
Comment[fil]=Magsagawa ng mga kalkulasyon, pag-unawa sa mga impormasyon at pangasiwaan ang mga listahan sa mga spreadsheet.
Comment[fr]=Effectuer des calculs, des analyses et gérer des listes dans des feuilles de calcul.
Comment[gl]=Realiza cálculos, analiza información e xestiona listas mediante follas de cálculo.
Comment[he]=בצעו חישובים, נתחו מידע ונהלו רשימות בגליונות עבודה.
Comment[hr]=Računajte i analizirajte informacije u proračunskim tablicama.
Comment[hu]=Számítások végrehajtása, információk és listák kezelése táblázatokban.
Comment[it]=Esegue calcoli, analizza informazioni e gestisce elenchi nei fogli di calcolo.
Comment[ja]=スプレッドシート上で、計算・情報分析・リスト管理を行います。
Comment[ka]=გამოთვლები, ინფორმაციის ანალიზი და სიების მართვა ელცხრილებში.
Comment[ko]=계산하고, 정보를 분석하고 스프레드시트에 있는 목록을 관리합니다.
Comment[ku]=Di xanxankên hesaban de hesaban bike, agahiyan analîz bike û lîsteyan bi rê ve bibe.
Comment[lt]=Atlikite skaičiavimus, analizuokite informaciją bei tvarkykite sąrašus el. lentelėse.
Comment[nl]=Berekeningen uitvoeren, informatie analyzeren en lijsten beheren in rekenbladen.
Comment[pl]=Wykonywanie obliczeń, analizowanie informacji i zarządzanie listami danych w arkuszach kalkulacyjnych.
Comment[pt]=Realize cálculos, analise informação e faça a gestão de listas em folhas de cálculo.
Comment[pt_BR]=Realiza cálculos, análise de informações e gerencia listas em planilhas.
Comment[ru]=Выполнение вычислений, анализ информации и управление листами в электронных таблицах.
Comment[sk]=Vykonávajte výpočty, analyzujte informácie a spravujte zoznamy v tabuľkách.
Comment[sr]=Изведите прорачуне, анализирајте податке и управљајте листама у таблицама са унакрсним израчунавањем у Рачуну.
Comment[sv]=Genomför beräkningar, analysera information och hantera listor i kalkylark.
Comment[tl]=Magsagawa ng mga kalkulasyon, pag-unawa sa mga impormasyon at pangasiwaan ang mga listahan sa mga spreadsheet.
Comment[tr]=Hesap çizelgelerinde hesaplama yapın, bilgileri analiz edin ve listeleri yönetin.
Comment[zh_CN]=数据计算、信息分析、电子表格管理
Comment=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
Comment[en]=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
InitialPreference=5
X-KDE-Protocols=file,http,smb,ftp,webdav
