Package: bigcontrolcenter-hardware-hdd
Version: 1.0.0-1kaiana6
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: gparted, gnome-disk-utility, mintstick
Section: admin
Priority: optional
Description: Partition and check

