[Desktop Entry]
Version=1.0
Name=Firewall Configuration
Comment=An easy way to configure your firewall
Categories=Network and Connectivity
Exec=gufw
Icon=gufw
Terminal=false
Type=Application
X-GNOME-Settings-Panel=gufw
X-Unity-Settings-Panel=gufw
X-Ubuntu-Gettext-Domain=gufw
