[Desktop Entry]
Categories=Application;Office;WordProcessor;
Comment[pt_BR]=Opções especiais
Comment=Opções especiais
Comment[en_GB]=Special options
Comment[es]=Opciones especiales
Comment[pt]=Opções especiais
Exec=bigbashview /usr/share/bigcontrolcenter/categories/others/libreoffice/libreoffice.sh.htm -i /usr/share/bigcontrolcenter/categories/others/libreoffice/icon.png
GenericName[pt_BR]=Extras para o LibreOffice
GenericName=Extras para o LibreOffice
GenericName[en_CA]=Extras for LibreOffice
GenericName[en_GB]=Extras for LibreOffice
GenericName[en_ZA]=Extras for LibreOffice
GenericName[es]=Extras para LibreOffice
GenericName[pt]=Extras para o LibreOffice
Icon=stock_dialog-question
MimeType=
Name[pt_BR]=Extras para o LibreOffice
Name=Extras para o LibreOffice
Name[en_GB]=Extras for LibreOffice
Name[es]=Extras para LibreOffice
Name[pt]=Extras para o LibreOffice
Path=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
