Package: kaiana-color-schemes
Version: 2.0.0-0kaiana3
Architecture: all
Maintainer: Paulo Giovanni Pereira <www.unialivre.com>
Installed-Size: 3
Section: admin
Priority: optional
Description: Install color schemes to Kaiana
