Package: converseen-service-menu
Version: 1.0.0-0kaiana0
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Section: admin
Depends: converseen
Priority: optional
Description: Corrige o service menu do converseen

