Package: homerun-kicker-resize
Version: 1.0.0-1kaiana2
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Section: admin
Depends: plasma-widget-homerun-kicker
Priority: optional
Description: Make homerun kicker little large

