Package: bigshowdesktop
Version: 1.0.0-1kaiana1
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: x11-utils, wmctrl
Section: admin
Priority: optional
Description: Show Desktop

