Package: big-apt-get-tweaks
Version: 2.0.0-1kaiana7
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Description: Improve apt-get and dpkg configuration for desktops

