[Desktop Entry]
Name=ProduktBlue
Comment=Elegant textured theme
Comment[bg]=Елегантна тема с текстури
Comment[bs]=Elegantna teksturirana tema
Comment[ca]=Un tema elegant amb textura
Comment[ca@valencia]=Un tema elegant amb textura
Comment[cs]=Elegantní texturovaný motiv
Comment[da]=Elegant tema med tekstur
Comment[de]=Ein elegantes strukturiertes Design für Plasma
Comment[el]=Θέμα με κομψή υφή
Comment[en_GB]=Elegant textured theme
Comment[es]=Tema elegante con relieve
Comment[et]=Elegantne tekstuuritud teema
Comment[eu]=Ehundura dotorea duen gaia
Comment[fi]=Elegantti tekstuuriteema
Comment[fr]=Un thème élégant avec textures
Comment[ga]=Téama galánta uigeach
Comment[gl]=Tema elegante con textura
Comment[hu]=Elegánsan textúrázott téma
Comment[it]=Tema a trama elegante
Comment[kk]=Әсем текстуралы нақыш
Comment[lt]=Elegantiška raštuota tema
Comment[lv]=Eleganta fakturēta tēma
Comment[nb]=Elegant tema med tekstur
Comment[nds]=En elegant Textuur-Muster
Comment[nl]=Elegant thema met textuur
Comment[pl]=Elegancki teksturowany motyw
Comment[pt]=Tema elegante com texturas
Comment[pt_BR]=Um elegante tema texturizado
Comment[ru]=Элегантная текстурированная тема
Comment[sk]=Elegantný textúrovaný motív
Comment[sl]=Elegantna teksturirana tema
Comment[sr]=Елегантна текстурирана тема
Comment[sr@ijekavian]=Елегантна текстурирана тема
Comment[sr@ijekavianlatin]=Elegantna teksturirana tema
Comment[sr@latin]=Elegantna teksturirana tema
Comment[sv]=Elegant strukturtema
Comment[tr]=Elegan dokulu tema
Comment[uk]=Елегантна текстурована тема
Comment[x-test]=xxElegant textured themexx
Comment[zh_CN]=优雅的纹理主题
Comment[zh_TW]=優美的主題

X-KDE-PluginInfo-Author=Saleel Velankar
X-KDE-PluginInfo-Email=svelanka@gmail.com
X-KDE-PluginInfo-Name=produktblue
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://islingt0ner.deviantart.com
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

