[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,all/allfiles
Actions=openTerminalThere;
X-KDE-AuthorizeAction=shell_access

[Desktop Action openTerminalThere]
Name=Open Terminal There
Name[pt_BR]=Abrir Terminal Aqui
Icon=utilities-terminal
Exec=konsole --workdir "$(dirname "%f")"
X-Ubuntu-Gettext-Domain=desktop_kdebase 
