Package: bigcontrolcenter-system-kwin-options
Version: 1.0.1-1kaiana4
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: kde-window-manager, bigcontrolcenter
Section: admin
Priority: optional
Description: Configure Kwin
