style "menubar" {

	bg[NORMAL]   = @dark_bg_color
	bg[PRELIGHT] = shade (1.05, @dark_bg_color)
	bg[SELECTED] = @selected_bg_color
	bg[ACTIVE]   = shade (0.95, @dark_bg_color)
	bg[INSENSITIVE]   = @dark_bg_color

	engine "murrine" {
		textstyle = 1
		text_shade = 1.23
		gradient_shades = {1.0, 1.0, 1.0, 1.0}
		lightborder_shade = 1.0
	}
}

style "menu" = "light" {
	xthickness = 0
	ythickness = 0

	bg[NORMAL] = shade (1.08, @dark_bg_color)

	engine "murrine"
	{
		reliefstyle = 0
		roundness = 0
	}
}

style "menu_item" = "menu" {
	xthickness = 2
	ythickness = 3
	
    bg[SELECTED] = shade (1.05, @selected_bg_color) 
	fg[PRELIGHT] = @selected_fg_color

	engine "murrine"
	{
		glowstyle = 5
		glow_shade = 1.2
		border_shades = {1.30, 0.98}
		gradient_shades  = {1.18, 1.10, 1.10, 0.95}
	}
}

style "menubar_item" {

	bg[PRELIGHT] = @dark_bg_color
	fg[PRELIGHT] = @fg_color

	engine "murrine" {
		border_shades = { 1.0, 0.8 }
		glow_shade = 1.00
		gradient_shades = {1.0, 0.95, 0.95, 0.85}
		roundness = 0
		contrast = .0 
	}
}

style "radiocheck-menu" {
	fg[PRELIGHT]	= @selected_fg_color
	text[PRELIGHT]	= @selected_fg_color
		
	engine "murrine" {}
}
