style "scrollbar" = "button" {
    bg[NORMAL]      = shade (1.02, @bg_color)
    bg[PRELIGHT]    = shade (1.02, @bg_color)
    bg[ACTIVE]      = shade (1.02, @bg_color)

    engine "murrine"
    {
        contrast                = 0.8
        border_shades           = {0.95, 0.90}
        roundness               = 2
        trough_shades           = {0.92, 0.98}
        lightborder_shade       = 1.3
        glowstyle               = 5
        glow_shade              = 1.06
        gradient_shades         = {1.2, 1.0, 1.0, 0.86}
        trough_border_shades    = {0.94, 0.98}
    }
}
