Package: bigcontrolcenter-hardware-sysinfo
Version: 1.0.1-1kaiana4
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: hardinfo, bigcontrolcenter
Section: admin
Priority: optional
Description: View hardware informations

