Package: gimp-script-fu
Version: 1.2.8-1kaiana1
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: gimp
Section: admin
Priority: optional
Description: Script fu for gimp 2.8

