Package: libreoffice-style-flat
Version: 1.0.0-0kaiana0
Architecture: all
Maintainer: Paulo Giovanni Pereira <paulusiohannes@gmail.com>
Installed-Size: 2951
Conflicts: libreoffice-style-crystal
Priority: optional
Homepage: http://www.uniaolivre.com
Description: Install the icon theme flat to LibreOffice
 Install the new icon theme Flat to LibreOffice.
