[Desktop Action open]
Exec=k9copy --input %f 
Icon=k9copy
Name=Copy with k9copy
Name[fr]=Copier avec k9copy
Name[de]=Kopieren mit k9copy
Name[tr]=k9copy ile kopyala
Name[ru]=Копировать при помощи k9copy
Name[pt_BR]=Copiar com k9copy

[Desktop Entry]
X-KDE-Solid-Predicate=[[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Data|VideoDvd' ] OR [ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Data|VideoDvd' ]]
Type=Service
Actions=open;