[Desktop Action open]
Exec=k9copy --input %f --assistant
Icon=k9copy
Name=Copy with k9copy (wizard)
Name[fr]=Copier avec k9copy (wizard)
Name[de]=Kopieren mit k9copy (wizard)
Name[tr]=k9copy ile kopyala (wizard)
Name[ru]=Копировать при помощи k9copy (Мастер)
Name[pt_BR]=Copiar com k9copy (wizard)

[Desktop Entry]
X-KDE-Solid-Predicate=[[ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Data|VideoDvd' ] OR [ StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Data|VideoDvd' ]]
Type=Service
Actions=open;