Package: bigcontrolcenter-themes-ksplash
Version: 1.0.1-1kaiana8
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 100
Depends: kdebase-workspace-bin | kde-workspace-bin, bigcontrolcenter, imagemagick
Section: admin
Priority: optional
Description: Configure ksplash theme

