Package: big-gwibber
Version: 1.0.0-1kaiana2
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Section: admin
Depends: gwibber, python-indicate
Priority: optional
Description: Gwibber integrate with KDE

