Package: big-fix-translation-digikam
Version: 1.0.0-1kaiana1
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Replaces: digikam-data
Depends: digikam-data
Section: x11
Priority: optional
Description: For best translation
