* {
margin:0;
padding:0;
}

body {
margin-top:3em;
background-image: -webkit-gradient(
	linear,
	left bottom,
	left bottom,
	color-stop(0, #2E8B57),
	color-stop(1, #9BCD9B)
);
background-image: -o-linear-gradient(left bottom, #2E8B57 0%, #9BCD9B 100%);
background-image: -moz-linear-gradient(left bottom, #2E8B57 0%, #9BCD9B 100%);
background-image: -webkit-linear-gradient(left bottom, #2E8B57 0%, #9BCD9B 100%);
background-image: -ms-linear-gradient(left bottom, #2E8B57 0%, #9BCD9B 100%);
background-image: linear-gradient(to left bottom, #2E8B57 0%, #9BCD9B 100%);
font-family:'Droid Sans', sans-serif;
width:750px;
}

a {
color:#202020;
font-style:normal;
text-decoration:none;
}

a:hover {
text-decoration:none;
}

.logo {
float:right;
padding-left:10px;
margin:10px 10px 0 0;
}

.logoleft {
float:left;
padding-left:10px;
margin:10px 10px 0 0;
}

#item-list {
margin-left:2em;
position:relative;
list-style-type:none;
text-align:left;
float:left;
padding:0;
}

#item-list li {
display:inline-block;
width:230px;
vertical-align:top;
background:rgba(255,255,255,0.4);
border-radius:5px;
box-shadow:inset 0 0 20px #ccc;
overflow:hidden;
font-size:12px;
min-height:80px;
margin:0 .5em 1em 0;
padding:10px;
}

#item-list li img {
display:inline-block;
vertical-align:top;
width:48px;
margin-right:.5em;
}

#item-list li p {
display:inline-block;
width:230px;
margin:0;
padding:0;
}

#item-list .title {
font-size:1.05em;
color:#55f;
}

h1 .titlePage {
font-family:"GoodTimes", Ubuntu, "Droid Sans", Sans;
color:#039;
margin-bottom:10px;
font-size:1.1em;
}

.titlePage {
font-family:"GoodTimes", Ubuntu, "Droid Sans", Sans;
color:#039;
margin-bottom:10px;
font-size:1.05em;
}

.titleh1 {
font-size:1.2em;
color:#039;
font-weight:bolder;
text-align:center;
margin:0 auto;
}

#nav {
background-color:#363636;
text-align:center;
position:fixed;
left:3px;
top:0;
width:100%;
cursor:default;
}

#nav a {
font-weight:600;
border-radius:10px;
color:#fff!important;
-webkit-transition:background-color .2s ease-in-out;
transition:background-color .2s ease-in-out;
position:relative;
display:block;
text-decoration:none;
outline:0;
margin:.6em .2em;
padding:.2em 1em;
}

#nav a:hover {
background:#006400;
border-radius:8px;
-webkit-transition:background-color .2s ease-in-out;
color:#fff!important;
padding:.2em 1em;
}

#nav a.active:before {
content:'';
display:block;
position:absolute;
bottom:-.6em;
left:50%;
margin-left:-.75em;
border-left:solid .75em transparent;
border-right:solid .75em transparent;
border-top:solid .6em #282828;
}

#cssmenu ul {
list-style-type:none;
width:auto;
position:center;
height:33px;
font-size:16px;
border:1px solid #3CB371;
margin-left:auto;
margin-right:auto;
margin-top:0;
display:table;
background-color:#3CB371;
padding:0;
}

#cssmenu li {
display:block;
float:left;
margin:0;
padding:0;
}

#cssmenu li a {
float:left;
color:#fff;
text-decoration:none;
height:24px;
font-weight:400;
padding:9px 15px 0;
}

#cssmenu li a:hover,#cssmenu .active {
color:#fff;
text-decoration:none;
}

#cssmenu .active a {
color:#fff;
font-weight:700;
}

#cssmenu li a:hover,#cssmenu li.active {
background-color:#006400;
}

#rodape {
position:fixed;
bottom:8px;
right:8px;
border-radius:8px;
font-size:0.85em;
z-index:200;
padding:3px;
}

.button {
position:right;
display:inline-block;
color:#fff;
text-decoration:none;
font-weight:700;
border:0;
outline:0;
cursor:pointer;
border-radius:8px;
text-shadow:-1px -1px .5px rgba(0,0,0,0.5);
overflow:hidden;
background:#005C9D;
background-image:0 rgba(48,141,196,1));
box-shadow:inset 0 0 0 1px #135c86, inset 0 2px 1px 0 rgba(255,255,255,0.75);
-webkit-transition:background-color .2s ease-in-out;
margin-right:12px;
float:right;
padding:0.5em 2.35em;
}

.button:before {
content:'';
display:block;
position:absolute;
left:0;
top:0;
width:100%;
height:100%;
background:url(images/bg.png);
}

.button:hover {
background-color:#76cdf0;
color:#fff!important;
}

.button:active {
background-image:0 rgba(77,164,199,0));
box-shadow:inset 0 0 0 1px #135c86, inset 0 -2px 1px 0 rgba(255,255,255,0.75);
top:1px;
}

.button-alt {
background-color:#393939;
background-image:0 rgba(45,45,45,1));
box-shadow:inset 0 0 0 1px #242424, inset 0 2px 1px 0 rgba(255,255,255,0.2);
}

.button-alt:hover {
background-color:#444;
}

.button-alt:active {
background-image:0 rgba(50,50,50,0));
box-shadow:inset 0 0 0 1px #242424, inset 0 -2px 1px 0 rgba(255,255,255,0.2);
}

.box {
background:#fff;
box-shadow:inset 0 0 0 1px rgba(0,0,0,0.15), 0 2px 3px 0 rgba(0,0,0,0.1);
text-align:center;
padding:2em 2em 2.5em;
}

.box i {
position:relative;
display:inline-block;
border-radius:50%;
font-size:1.8em;
box-shadow:0 0 0 30px transparent;
background:rgba(255,255,255,0.1);
-webkit-transform:translate3d(0,0,0);
-webkit-transition:box-shadow .6s ease-in-out;
margin:0 auto;
padding:.4em;
}

.box h3 {
margin-bottom:.25em;
}

.box .image-centered {
margin-bottom:1.25em;
}

.box .image-full {
position:relative;
left:1em;
top:1em;
width:100px;
margin:-2em 0 1em -2em;
}

.nostartauto {
position:fixed;
bottom:10px;
right:120px;
font-size:0.8em;
float:left;
margin:0 auto;
padding:3px;
}

#check {
position:auto;
bottom:20px;
padding:0;
}

.articles {
text-align:left;
padding:0;
}

.articles h1 {
margin-top:.35em;
}

.articles p {
font-family:"Droid Sans", Sans;
font-size:.95em;
line-height:1.4em;
text-align:justify;
text-justify:newspaper;
}

.wrapper {
text-align:center;
min-width:820px;
min-height:400px;
padding:10px 10px 10px 10px;
margin-top:-10px;
}

.wrapper p {
text-align:left;
}

.container {
display:block;
width:750px;
margin:0 auto;
}

.row {
margin-top:-120px;
}

#slides {
left:0;
top:55.75px;
font-size:.5892px;
}

#slides,.slide {
background:url(images/bg.png) #e7e7e7;
}

.slide {
font-family:sans-serif;
text-align:center;
}

.slide.title .logo {
text-align:left;
top:12px;
left:50px;
}

.slide h1 {
font-size:48em;
font-weight:400;
}

.slide h2 {
font-size:40em;
font-weight:700;
}

.slide h1,h2 {
letter-spacing:-.05em;
}

.slide h1 .logo {
height:1.75em;
width:2.25em;
vertical-align:middle;
}

.slide h1 > button {
font-size:1em;
}

.slide a {
border:none;
color:#000;
background:#ddd;
border-radius:.25em;
padding:.25em .5em;
}

.slide code {
text-align:left;
font-size:20em;
font-family:monospace;
padding:1em 2em;
}

#demo-iframe {
border:6em inset;
}

#animated h1 {
margin-top:.25em;
}

#slide-pager {
position:absolute;
right:30px;
z-index:20;
background:rgba(0,0,0,0.4);
width:45%;
float:left;
border-radius:8 8 8 8px;
margin:6px -6px 0 0;
padding:6px 3px;
}

#slide-pager li {
line-height:14px;
margin-left:0;
padding:0;
}

#slide-pager li a {
text-shadow:none;
color:#DDD;
font-size:11px;
text-decoration:none;
font-weight:400;
}

#slide-pager li a.active {
text-shadow:none;
color:#FFF;
font-size:11px;
text-decoration:underline;
}

#slide-pager li a:hover {
text-decoration:underline;
color:#EEE;
}

.pod.green {
background:none repeat scroll 0 0 #66B969;
}

.pod {
color:#FFF;
background:none repeat scroll 0 0 #333;
opacity:0.85;
border-radius:10px;
margin:15px 0;
padding:15px 15px 20px;
}

#pow-nav {
position:absolute;
width:200px;
height:70px;
left:50%;
line-height:0;
margin-left:-100px;
padding-top:20px;
bottom:15px;
opacity:0;
-moz-user-select:none;
cursor:default;
}

#pow-nav .nav.first {
border-top-left-radius:10px;
}

#pow-nav .nav,#pow-nav .status {
background:none repeat scroll 0 0 rgba(0,0,0,0.85);
box-shadow:0 3px 3px rgba(0,0,0,0.5);
margin:1px;
}

#pow-nav .nav {
display:inline-block;
width:48px;
height:50px;
}

#pow-nav .nav.last {
border-top-right-radius:10px;
}

#pow-nav .status {
height:20px;
line-height:20px;
text-align:center;
color:#AAA;
font-family:sans-serif;
border-radius:0 0 10px 10px;
}

.divRssBlog {
margin-left:60px;
}

.blue {
color:#039;
}

#nav ul,#slide-pager ol {
margin-bottom:0;
}

#nav li,img.alignleft {
float:left;
}

.slide.title,#info {
text-align:center;
}

.username,.bold {
font-weight:700;
}
