Package: kaiana-iso-generator
Version: 1.1.0-0kaiana4
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 100
Depends: syslinux, squashfs-tools, genisoimage, debootstrap
Section: admin
Priority: optional
Description: Simple iso maker based in Ubuntu repositories. --- Gerador de iso simples baseado nos repositorios Ubuntu


