Package: bigcontrolcenter-hardware-sensor
Version: 1.0.1-1kaiana5
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: xsensors, bigcontrolcenter
Section: admin
Priority: optional
Description: View temperature informations

