Package: disable-psensor-autostart
Version: 1.0.0-0kaiana0
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Section: admin
Depends: psensor
Priority: optional
Description: Desativa o inicio automatico da systray psensor

