style "progressbar" {
	xthickness = 2
    ythickness = 2
	
	bg[ACTIVE]				= shade (0.94, @bg_color)
    fg[PRELIGHT]            = "#ffffff"
	bg[SELECTED]			= @selected_bg_color

	engine "murrine" {
		roundness = 9
		lightborderstyle = 1
		lightborder_shade = 1.2
        contrast = 0.0
        
		border_shades = {1.29, 1.29}
		gradient_shades		= {1.2,1.0,0.87,1.26}
		trough_border_shades = {0.9, 1.4}
	}
}


style "progressbar_menu_item" = "progressbar" {
	bg[ACTIVE] = shade(0.98, "#4D4C48")

	engine "murrine" {
		roundness = 0
	}
}
