Package: pdf-tools-service-menu-kaiana
Version: 1.0.0-0kaiana1
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Section: admin
Replaces: konq-plugins
Depends: kde-baseapps-bin, imagemagick, poppler-utils, pdftk, ghostscript, qtchooser, libimage-exiftool-perl
Priority: optional
Description: Edit PDF, based in http://kde-apps.org/content/show.php/kde-services?content=147065

