[Desktop Entry]
Type=Service
Actions=WriteCdImage;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-cue;

[Desktop Action WriteCdImage]
Exec=k3b --image %F
Name=Write CD Image with K3b
Name[pt_BR]=Gravar Imagem CD com K3b
Icon=k3b
X-Ubuntu-Gettext-Domain=desktop_extragear-multimedia_k3b
