[Desktop Entry]
Type=Service
Actions=CreateK3bVcdProject;
ServiceTypes=KonqPopupMenu/Plugin
MimeType=video/mpeg;

[Desktop Action CreateK3bVcdProject]
Exec=k3b --videocd %F
Name=Create Video CD with K3b
Name[pt_BR]=Criar CD Video K3b
Icon=k3b
X-Ubuntu-Gettext-Domain=desktop_extragear-multimedia_k3b
