[Desktop Entry]
Name=Kaiana
Name[pt_BR]=Kaiana
X-KDE-PluginInfo-Name=Kaiana
X-KDE-PluginInfo-Author=Paulo Giovanni Pereira
X-KDE-PluginInfo-Email=paulusiohannes@gmail.com
X-KDE-PluginInfo-License=LGPLv3 
