Package: kaiana-desktop-theme
Version: 2.0.1-0kaiana1
Architecture: all
Maintainer: Paulo Giovanni Pereira <www.unialivre.com>
Installed-Size: 39000
Section: admin
Priority: optional
Description: Install desktop theme to Kaiana
