Package: gdebi-gtk-in-kde
Version: 1.0.0-1kaiana2
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size: 1
Depends: gdebi
Conflicts: gdebi-kde
Section: admin
Priority: optional
Description: Use gdebi-gtk in kde

