Package: qtcurve-kaiana-themes
Version: 1.0.0-1kaiana4
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Depende: kde-style-qtcurve
Description: qtcurve themes

