[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio']
Actions=open;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action open]
Exec=kioclient exec audiocd:/
Icon=system-file-manager
Name=Open with File Manager
Name[pt_BR]=Abrir com Gerenciador de Arquivos
X-Ubuntu-Gettext-Domain=desktop_kdemultimedia
